

body {

}

.wrapper {
    max-width: 100%;
    padding: 20px;
    padding-top: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-left: 10px;
}

.content {
    width: 60%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #FFFFFF;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.textbox_style {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.button_style {
    width: 100%;
    padding: 14px 20px;
}

    .button_style.loginBtn {
        background-color: #4CAF50;
        color: white;
    }

    .button_style.EnterHomePageBtn {
        background-color: #9393FF;
        color: white;
    }

    .button_style.logoutBtn {
        background-color: #FF95CA;
        color: black;
    }

.label_style {
    font-size: 18px;
}
